{% load static %}
{% load widget_tweaks %}
<!-- скелет страницы -->
<html lang="en">
<head>
    <title>demo shop</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/modal.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
    <div class="index">
    <div class="page-header">
    {% if not user.is_authenticated %}
    <but><a id="myBtn" class="button"/>login</a></but>
        {% endif %}

    {% if user.is_authenticated %}
    <but><a href="/logout" class="button"/>logout</a></but>
        {% endif %}


    <h1 class="logo"><a href="">demo shop</a></h1>
        </div>
    <div class="line"></div>
    <div class="sub_nav"><div class="sub_nav_left_but"><a> welcome </a> |
        {% if user.is_authenticated %}
        <a> you are logged in now </a> {% endif %}
        {% if not user.is_authenticated %}
        <a> log in to use the shopping cart </a> {% endif %} </div>

    <!-- переключатель темы -->
    <div class="switcher">
    <label class="switch">
    <input type="checkbox" class="changer">
    <span class="slider round"></span>
    </label> </div>
    </div>

    <!-- Тут начинаются товары -->
    <div class="content">
    {% block items %}
    {% include "shop/items.html" %}
    {% endblock %}
        </div>
    <!-- конец блока. -->
    {% if user.is_authenticated %}
        <img class='cart' src="/static/css/images/cart.png" />
    {% endif %}
    <!-- Подвал сайта! -->
    <footer>
        <div class="footer_block_left">
        <p>{{ footer_block_left }}</p>
            </div>

        <div class="footer_block_center">
        <p>{{ footer_block_center }}</p>
            </div>

        <div class="footer_contacts">
        <p>{{ mail }}</p>
        <p>{{ phone }}</p>
        <p>{{ adress }}</p>
            </div>
    </footer>

    <!-- модальное окно social auth-->
        <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
            <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <div class="col">
                    <a href="#" class="fb btn">
                    <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                    </a>
                    <a href="#" class="twitter btn">
                    <i class="fa fa-twitter fa-fw"></i> Login with Twitter
                    </a>
                    <a href="#" class="google btn"><i class="fa fa-google fa-fw">
                    </i> Login with Google+
                    </a>
                    <a href="{% url 'social:begin' 'vk-oauth2' %}" class="vk btn"><i class="fa fa-vk fa-fw">
                    </i> Login with VK
                    </a>
                    <a href="#" class="instagram btn"><i class="fa fa-instagram fa-fw">
                    </i> Login with Instagram
                    </a>
                    </div>

                    <div class="col">
                    <div class="hide-md-lg">
                    </div>
                    </div>
                    </div>

            </div>

        </div>

        <!-- модальное окно корзина -->
        <div id="modal_cart" class="modal">
        <div class="modal-content">
            <div class="modal-header">
            <span class="cart_close">&times;</span>
          <!--  <h2>Шапка модального окна</h2> -->
            </div>
            <div class="modal-body">
                <div class="cart_content">
                    <p class="form_cart_fields">your order:</p>
                    <form method="post" class="post-form" id="my_form">{% csrf_token %}
                    <div id="cart_items" class="item_list"> nothing</div>
                    <p class="form_cart_fields">final price:</p>
                    <div id="final_price" class="final_price_field"> 0 </div>
                    <div class="invisible">
                    {{ form.items }}
                    {{ form.final_price }} </div>
                    <div class="cart_nav">
                    <p class="form_cart_fields">full name:{{ form.name|add_class:"forms_css" }}</p>
                    <p class="form_cart_fields">adress:{{ form.adress|add_class:"forms_css" }}</p>
                    <p><button type="submit" class="send_order">sent</button></p>
                    <p><button type="button" class="reset">reset</button></p></div>
                    </form>
                </div>
                    </div>
                        </div>
                            </div>
                                </div>

    <script src={% static "js/cart.js" %}></script>
    <script src={% static "js/index_modal.js" %}></script>
    <script src={% static "js/theme_changer.js" %}></script>
    <script src={% static "js/items.js" %}></script>

        </body>
</html>