{% extends 'shop/index.html' %}
{% load static %}
{% block contents %}
<!-- ниже товары -->

{% for i in items %}
<div class="items">
    <div class="scale"><img class='image' src={{ i.image }} class="scale"/></div>
    {% if not user.is_authenticated %}
    <button class="add_to_cart_not_login" type="button" name="button"> add to cart </button>
    {% endif %}

    {% if user.is_authenticated %}
    <button class="add_to_cart" type="button" id={{ i.name }} + {{ i.price }}> add to cart </button>
    {% endif %}

    <div class="item_info">
        <div> {{ i.name }} </div><div> {{ i.price }} </div> <div> {{ i.quantity }} </div>
    </div>
    <div class="item_description"> <div> {{ i.description }} </div>
    </div>
</div>
{% endfor %}

<script src={% static "js/items.js" %}></script>
{% endblock %}